.author{

	border-radius: 10px;
	width: fit-content;
	transition:all 1s;
}
.author>img{
	border-radius: 10px;
	max-width: 40px;
	height: auto;
	transform: rotate(-90deg);
	transition:inherit;
}
.author>.name{
	transform: rotate(-90deg) scale(0,0);
	max-width: 0;
	max-height: 0;
	overflow: hidden;
	margin:3px 0px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 800;
	transition: inherit;
	white-space: nowrap;
}
.author>.links-of-author{
	transform: rotate(-90deg) scale(0,0);
	max-width: 0;
	max-height: 0;
	overflow: hidden;
	margin:10px 0 0 0;
	padding: 0;
	text-align: center;
	transition:inherit;
	white-space: nowrap;
}
.author:hover{
	padding: 10px;
	background-color: #E01A4F;
}
.author:hover>img{
	max-width: 140px;
	transform: rotate(0deg);
}
.author:hover>.name{
	max-width: 140px;
	max-height: 60px;
	transform: rotate(0deg) scale(1,1);
}
.author:hover>.links-of-author{
	max-width: 140px;
	max-height: 60px;
	transform: rotate(0deg) scale(1,1);
}
.links-of-author>li{
	display: inline-block;
}
.links-of-author a{
	font-size: 25px;
}


.menu{
	padding: 0;
}
.menu>li{
	display: flex;
	margin:5px 0px;
}
.menu-text{
	display: flex;
	align-items: center;
	margin:0 5px;
	background-color: #F15946;
	border-radius: 10px;
	font-size: 1.5rem;
	font-weight: 800;
	transition:all 1s;
	max-width: 0;
	overflow: hidden;
	/*transform:scale(0,1);*/
	/*transform-origin: top left;*/
}
.menu a{
	display: inline-block;
	text-align: center;
	background-color: #F15946;
	border-radius: 10px;
	padding: 5px;
	height: 30px;
	width: 30px;
	font-size: 25px;
}
.menu a:hover+.menu-text{
	padding: 5px;
	max-width: 300px;
	transform: scale(1,1);
}
