header .title{
	grid-area: title;
	border: 2px solid #53B3CB;
	border-radius: 10px;
	background-color: #53B3CB;
	padding: 10px 10px;
	margin: 0 5px;
}
header .time{
	grid-area: time;
	border: 2px solid #F15946;
	border-radius: 10px;
	background-color: #F15946;
	padding: 3px 3px;	
	width: fit-content;
	margin: 0 5px;
}