html{
	font-size: 15px;
}
@media (min-width: 1050px) {
	html{
		font-size: 17px;
	}	
}
body{
	display: grid;
	grid-template-columns: minmax(0%,9fr)  auto auto;
	grid-template-rows: 2fr auto 1fr;
	grid-template-areas: "header    header    header"
						"container    nav    toggle"
						"footer    footer    footer";
	background-color: #000000;
}
@media (max-width: 360px) {
	body{
		margin: 8px 0px;
	}	
}

header{
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	border: 2px solid #53B3CB;
	border-radius: 10px;
	background-color: #53B3CB;
}
header>a{
	margin: 10px 20px;
}
header>span{
	margin:5px 20px;
}

.container{
	grid-area: container;
	justify-content: center;
	background-color: #F9C22E;
	border: 2px solid #F9C22E; 
	border-radius: 10px;
	margin: 10px 5px 10px 0;
}
@media (max-width: 360px) {
	.container{
		margin:10px 0 10px 0;
	}
}
.content{
	width: 80%;
	margin: 0 auto;
}
@media (max-width: 360px) {
	.content{
		width: 90%;
	}	
}
.content>h1{
	padding-bottom: 0.3em;
	border-bottom: 1px solid #F9A000;
}
.post_preview{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.post_date{
	align-self: flex-end;	
}


.nav{
	grid-area: nav;
	background-color: #E01A4F;
	border: 2px solid #E01A4F;
	border-radius: 10px;
	flex:auto;
	margin: 10px 5px 10px 5px;	
}


.toggle{
	grid-area: toggle;
	border: 2px;
	border-radius: 10px;
	margin:10px 0px 10px 5px;
	outline: none;
}
@media (max-width: 360px) {
	.toggle{
		display: none;
	}	
}


.footer{
	grid-area: footer;
	background-color: #F15946;
	border: 2px solid #F15946;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

h1{
	font-size: 2rem;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color: grey;
}
hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #F9A000;
    height: 0;
    box-sizing: content-box;
}
blockquote{
	padding: 0 15px;
    color: #333;
    border-left: 4px solid #F99000;
    margin-bottom: 16px;
    margin:0;
}
pre{
	overflow: auto;
}
p{
	word-wrap: break-word;
}