<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#F9C22E">
    <title>Sky's Blog</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/header.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="css/layout_grid.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" href="css/markdown.css">
</head>

<body>
    <header>
        <div class="title">
            <h1 style="margin:0">{{title}}</h1>
        </div>
        <div class="time" v-if="seen">
            <div class="bDate">
                <span>创建日期：{{bDate}}</span>
            </div>
            <div class="mDate">
                <span>修改日期：{{mDate}}</span>
            </div>           
        </div>
        
    </header>
    <div class="toggle">
        <span>-</span>
    </div>
    <section class="content"></section>
    
    <aside class="nav" style="display: none;">
        <input type="text" name="str" id="str" style="font-size: 15px" v-model="substr">
        <br>
        <span id="subStr" style="font-size: 30px;">{{ substr }}</span>
    </aside>
    
    
    <footer class="footer">
        <p>暂时没有了</p>
    </footer>    
    <script src="dist/jquery-1.8.0.js"></script>
    <script src="dist/bundle.js"></script>
</body>
</html>